.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -70px;
    background-color: #222222;
  }
  
  .auth-box {
    background: rgb(249, 245, 245);
    box-shadow: 0 4px 10px #1C1C1C;
    height: 361px;
    width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .auth-tabs {
    display: flex;
    justify-content: space-between;
    background: #E31C25;
    width: 100%;
    border: none;
    padding: 0;
  }
  
  .auth-tabs button {
    width: 50%;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    outline: none;
    border-radius: 0;
    margin: 0;
  }
  
  .auth-tabs button.active {
    background: #cc0b17;
    border: none;
    border-radius: 0;
  }
  
  .auth-tabs button:focus,
  .auth-tabs button:active {
    outline: none;
  
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  .auth-title {
      font-size: 19px;
      padding-top: 20px;
      color: black;
  }
  
  .input-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: black;
    padding-top: 20px;
    gap: 8px;
  }
  
  .input-label .input-icon {
    color:rgba(0, 0, 0, 0.4);
  }
  
  .input-group {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .auth-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #BB000E;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: black;
  }
  
  .auth-input::placeholder {
    color: gray;
  }
  
  .auth-button {
    width: 104px;
    height: 34px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
    background: #BB000E;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .auth-button:hover {
    background: #BB000E;
  }